.header {
  padding: 45px 240px 45px 240px;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f0; }
  .header__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e2; }
    .header__top figure {
      margin-left: 0; }
    .header__top .phone {
      color: #505050;
      font-size: 18px;
      font-weight: 400;
      padding-top: 20px; }
      .header__top .phone span {
        color: #a5a5a5; }
  .header__banner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    .header__banner figure {
      margin: 0; }
    .header__banner img {
      border: 10px solid white;
      box-shadow: 1px 1px 2px #a5a5a5; }
    .header__banner__discription {
      display: flex;
      flex-direction: column;
      padding-left: 30px; }
      .header__banner__discription h1 {
        color: #504f4f; }
      .header__banner__discription h3 {
        color: #505050;
        font-size: 14px;
        line-height: 22px; }
      .header__banner__discription__list {
        list-style: none;
        padding-left: 20px;
        line-height: 22px;
        margin-bottom: 25px; }
        .header__banner__discription__list li {
          position: relative;
          color: #505050; }
        .header__banner__discription__list li::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #505050;
          top: 10px;
          left: -15px; }
      .header__banner__discription a {
        width: 120px;
        text-align: center;
        border: 1px solid #a9bfd2;
        background-color: #ffffff;
        background-image: linear-gradient(to top, #9cbdce 0%, #c3dae6 100%);
        text-decoration: none;
        color: #505050;
        padding: 10px 19px;
        text-transform: uppercase; }
      .header__banner__discription a:hover {
        opacity: .8; }

.gallery {
  padding: 45px 240px 45px 240px;
  background-color: #c9dce6;
  display: flex;
  justify-content: space-between; }
  .gallery__last {
    font-size: 0;
    width: 16px;
    height: 30px;
    background-image: url(img/last.png);
    background-color: #c9dce6;
    border: none;
    margin-top: 35px; }
  .gallery__next {
    font-size: 0;
    width: 16px;
    height: 30px;
    background-image: url(img/next.png);
    background-color: #c9dce6;
    border: none;
    margin-top: 35px; }
  .gallery__img {
    border: 5px solid white;
    box-shadow: 1px 1px 2px #a5a5a5; }

.content {
  padding: 45px 240px 45px 240px;
  background-color: #d7e7ef;
  font-family: "Roboto", sans-serif; }
  .content__title {
    font-size: 25px;
    color: #7da0b3;
    line-height: 35px;
    font-style: italic; }
  .content__discription {
    display: flex; }
    .content__discription h2 {
      color: #456474;
      font-size: 17px; }
      .content__discription h2 img {
        padding-right: 15px;
        padding-top: 10px; }
    .content__discription__text {
      color: #456474;
      font-size: 13px; }
    .content__discription .column {
      padding-right: 40px;
      padding-bottom: 60px; }
  .content__reviews-contacts {
    display: flex; }
    .content__reviews-contacts .content__reviews {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-right: 40px;
      background-color: #c9dce6; }
      .content__reviews-contacts .content__reviews h2 {
        color: #456474;
        padding: 10px; }
    .content__reviews-contacts .content__reviews-wrapper {
      display: flex;
      justify-content: space-between;
      font-style: italic;
      font-size: 12px;
      line-height: 25px;
      color: #456474; }
      .content__reviews-contacts .content__reviews-wrapper .author {
        font-style: normal;
        font-weight: 600; }
      .content__reviews-contacts .content__reviews-wrapper .reviews-column {
        padding: 0 10px 0 10px; }
  .content__contacts {
    color: #456474;
    line-height: 30px; }
    .content__contacts .email {
      margin-right: -5px;
      width: 160px;
      height: 29px; }
    .content__contacts .button {
      width: 65px;
      height: 35px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, #9cbdce 0%, #c3dae6 100%);
      color: #456474;
      margin-bottom: 20px;
      cursor: pointer; }
      .content__contacts .button:hover {
        opacity: .8; }
    .content__contacts img {
      margin-right: 10px; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 240px 20px 240px;
  color: #456474;
  font-family: "Roboto", sans-serif;
  background-color: #c9dce6; }
  .footer__social {
    display: flex;
    margin-top: 20px; }
  .footer .social-fb {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Facebook.png);
    margin-right: 10px; }
  .footer .social-flick {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Flickr.png);
    margin-right: 10px; }
  .footer .social-twitter {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Twitter.png);
    margin-right: 10px; }
  .footer .social-tumbl {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Tumblr.png); }
