@mixin indents {
    padding: 45px 240px 45px 240px;  
}
$primary-color: #456474;
$secondary-color: #505050;
$primary-font: 'Roboto', sans-serif;
$bgcolor: #c9dce6;

.header{
    @include indents();
    font-family: $primary-font;
 background-color: #f1f1f0; 
  &__top {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid #e7e7e2;
     .phone{
         color: $secondary-color;
         font-size: 18px;
         font-weight: 400;
         padding-top: 20px;
            span {
            color:  #a5a5a5;
            }
         }
     } 
     &__banner {
         display: flex;
         justify-content: space-between;
         padding-top: 40px;
         img{
             border: 10px solid white;
             box-shadow: 1px 1px 2px #a5a5a5;
         }
         &__discription {
             display: flex;
             flex-direction: column;
             padding-left: 30px;
             h1 {
                 color: #504f4f; 
             }
             h3 {
                color: $secondary-color;
                font-size: 14px;
                line-height: 22px;
             }
             &__list {
                 
                 list-style: none;
                 padding-left: 20px;
                 line-height: 22px;
                 margin-bottom: 25px;
                 li {
                    position: relative;
                    color: $secondary-color;
                 }
                li::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $secondary-color;
                    top: 10px;
                    left: -15px;
                    }
             }
             a {
                 width: 120px;
                 text-align: center;
                 border: 1px solid #a9bfd2;
                 background-color: #ffffff;
                 background-image: linear-gradient(to top, #9cbdce 0%, #c3dae6 100%);
                 text-decoration: none;
                 color: $secondary-color;
                 padding: 10px 19px;  
                 text-transform: uppercase; 
                }
             a:hover {
                 opacity: .8;
            }
        }
    } 
}

.gallery {
    @include indents();
    background-color: $bgcolor;
    display: flex;
    justify-content: space-between;
    &__last {
        font-size: 0;
        width: 16px;
        height: 30px;
        background-image: url(img/last.png);
        background-color: $bgcolor;
        border: none;
        margin-top: 35px;
          }
          &__next {
            font-size: 0;
            width: 16px;
            height: 30px;
            background-image: url(img/next.png);
            background-color: $bgcolor;
            border: none;
            margin-top: 35px;
              }

&__img {
    border: 5px solid white;
    box-shadow: 1px 1px 2px #a5a5a5;
}
}

.content {
    @include indents();
    background-color:  #d7e7ef;
    font-family: $primary-font;
    &__title {
        font-size: 25px;
        color: #7da0b3;
        line-height: 35px;
        font-style: italic;
    }
    &__discription {
        display: flex;   
        
        h2 {
            color: $primary-color;
            font-size: 17px; 
            img {
                padding-right: 15px;
                padding-top: 10px;
            } 
        } 
        &__text {
            color: $primary-color;
            font-size: 13px;
        }
        .column {
            padding-right: 40px;
            padding-bottom: 60px;
        }
    }
    &__reviews-contacts {
        display: flex;
      .content__reviews{
          display: flex;
          flex-direction: column;
          width: 60%;
          margin-right: 40px;
          background-color: $bgcolor; 
          h2 {
            color: $primary-color;     
               }            
            }
            .content__reviews-wrapper {
                display: flex;
                justify-content: space-between;
                font-style: italic;
                font-size: 12px;
                line-height: 25px;
                color: $primary-color;
                .author {
                    font-style: normal;
                    font-weight: 600;
                }
                .reviews-column {
                    padding: 0 10px 0 10px;
                }
            }
    } 
    &__contacts {
        color: $primary-color;
        line-height: 30px;
       .email{
        margin-right: -5px;
        width: 160px;
        height: 29px;
        }
        .button {
        width: 65px; 
        height: 35px; 
        background-color: #ffffff;
        background-image: linear-gradient(to top, #9cbdce 0%, #c3dae6 100%);
        color: $primary-color;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
        
    }
   img{
       margin-right: 10px;
       }
  } 
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 240px 20px 240px;  
    color: $primary-color;
    font-family: $primary-font;
    background-color: $bgcolor;
    &__social{
        display: flex;
        margin-top: 20px;
    }
 .social-fb {
     display: block;
     width:16px;
     height: 16px;
     background-image: url(img/Facebook.png);
     margin-right: 10px;
 } 
 .social-flick {
    display: block;
    width:16px;
    height: 16px;
    background-image: url(img/Flickr.png);
    margin-right: 10px;
 }
 .social-twitter{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Twitter.png);
    margin-right: 10px;
 }
 .social-tumbl{
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(img/Tumblr.png);
 }
}